.gridContainer {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: start;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #fafafa;
  border-radius: 10px;
  font-size: 15px;
}
.card p,
h3 {
  margin: 10px 0;
  text-align: center;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}
