.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.recentSearchesContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recentSearches {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}
.recentSearchCard {
  border: 1px solid #fff;
  margin: 5px;
  background: #222222;
  min-width: 100px;
  max-width: 100%;
  height: 20px;
  font-size: 12px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
}
.recentSearchCard:hover{
    opacity: 0.7;
}
