.headerContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 50px;
  margin-left: 30px;
  font-weight: 700;
  cursor: pointer;
}

.heart {
  color: #ff0000;
  text-shadow: 0 0 5px #ff002b;
  margin: 0 10px;
  font-size: 60px;
}

.buttonsContainer {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 30px;
}

.btn {
  border: 1px solid #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  cursor: pointer;
  padding: 0 15px;
  background: #363636;
}

.btnLogin {
  width: 150px;
}

.iconBtn,
.icono,
.btnLogin span,
.btnLanguage span {
  background: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btnLogin span,
.btnLanguage span {
  margin-right: 5px;
  font-size: 25px;
}

.btn:hover {
  opacity: 0.7;
}

@media (max-width: 450px) {
  .headerContainer {
    flex-direction: column;
  }
  .logo {
    font-size: 30px;
    margin-left: 10px;
    gap: 10px;
  }
  .heart {
    font-size: 35px;
    margin: 0 5px;
  }
  .buttonsContainer {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}
