.footerContainer {
  border-top: 3px solid #ffffff79;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 30px;
  margin-left: 30px;
  font-weight: 700;
  cursor: pointer;
}

.heart {
  color: #ff0000;
  text-shadow: 0 0 5px #ff002b;
  margin: 0 5px;
  font-size: 35px;
}

@media (max-width: 450px) {
  .footerContainer {
    margin-top: 50px;
  }
}